.main {
 display: flex;
}
.dog {
display: inline;
margin-right: 2rem;
font-size: 20px;
}
.video{
display: inline;
margin: 2rem;
font-size: 20px; 
}
.test-float{
background-color: red; 
font-size: 20px;
}
.Game{
 display: inline;
 margin-left: 20px;
}

